* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#d6d6d6;
    /* color: #aaaaaa; */
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkxelTg8o9wTcX-Oq-Qxlg__SV7VwfC8mKu2kLh6m35_s3p2EndaMdJqaQBDUpeHMr_V0&usqp=CAU"); */
    font-family:'Times New Roman', Times, serif;
}


body {
    padding: 10px;
    background-color: #141313
}

#viewport {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header, footer, .box {
    /* outline: 1px solid white; */
    min-height: 100px;
}

header, footer {
    width: 100%;
}

header {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5df018ec4c9d61288094246c/1578939705332-EW5YRCD1F4FZX9QBMWEJ/interiorheader5.png?format=2500w");
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 2px solid whitesmoke;
}

header nav ul {
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem 1rem;
}

header nav ul li {
    padding-left: 1rem;
}

header h1 {
    font-size: 300%;
    padding-left: 1%;
    padding-right: 1%;
}

header h2 {
    font-size: 200%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10%;
    text-align: left;
}

.header-format {
    display: flex;
    flex-direction: column;
    /* max-width: 25%; */
    min-width: 30%;
    max-height: 50%;
    /* text-align: center; */
}

.box {
    height: 400px;
    width: 25%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 0.5%;
    text-align: center;
    padding-top: .5%;
}

.box h2 {
    font-size: 175%;
}

.box1 {
    height: 100vh;
    width: 25%;
    /* look into flex-growth and flex-shrink instead of min-width and max-width. */
    min-width: 200px;
    max-width: 600px;
    justify-content: flex-start;
    margin-right: 2%;
    text-align: center;
}

.about-me {
    outline: solid 1px whitesmoke;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.box1 h2 {
    margin-top: 6rem;
    padding-top: 1rem;
}

.box.box1 img {
    padding-top: 2rem;
    
}

.box.box1 p {
    padding-top: 2rem;
}

.headshot {
    max-width: 100%;
    max-height: 100%;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0.5%;
    margin-right: 0.5%;
    /* outline: solid 1px #d6d6d6; */
}

.flex-container-child {
    display: flex;
    flex-wrap: wrap;
    /* border: solid 1px white; */
    /* height: 100vh; */
    width: 70%;
    justify-content: flex-end;
    /* outline: solid 1px #d6d6d6; */
}

.box2, .box3, .box4, .box5, .box6, .box7 {
    width: 30%;
    min-width: 150px;
    max-width: 500px;
    min-height: 200px;
    max-height: 600px;
    /* outline: solid 1px #d6d6d6; */
}

.flex-container-child section img {
    height: 80%;
    width: 100%;
    outline: solid 1px whitesmoke;
}

.flex-container-child section.box img:hover {
    opacity: 5;
}

footer {
    outline: 2px solid whitesmoke;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5df018ec4c9d61288094246c/1578939705332-EW5YRCD1F4FZX9QBMWEJ/interiorheader5.png?format=2500w");
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

footer h2 {
    font-size: 175%;
    text-align: center;
    padding-top: 1.5rem;
}

footer div.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
}


@media screen and (max-width: 992px) {

    #viewport {
        display: inline-block;
    }

    .flex-container {
        flex-basis: 50%;
        flex-shrink: 1;
        padding: 1%;
    }

    header h1 {
        text-align: center;
    }
    
    header h2 {
        text-align: center;
    }

    header nav ul {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    header nav ul li {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .box {
        width: 100%;
        margin: auto;
    }

    .box1 {
        height: auto;
        padding-bottom: 2%;
        margin-bottom: 2%;
        margin-top: 2rem;
    }

    .flex-container-child {
        margin-left: 15%;
        margin-top: 5rem;
    }

    footer h2 {
        text-align: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        text-align: center;
        height: auto;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: auto;
    }
}

/* when hovering the images that have links attached to them, it should change in opacity */